@import url('../../../styles/primitives-variables/root.css');

:root[data-theme='marlo'][data-mode='dark'],
*[data-theme='marlo'][data-mode='dark'] {
  /* Colors */
  --primary-color: var(--color-green-500);
  --primary-hover: var(--color-green-600);
  --primary-active: var(--color-green-700);
  
  /* Text Colors */
  --text-on-primary: var(--color-white);
  --text-disabled: var(--color-gray-600);
  
  /* Background Colors */
  --background-disabled: var(--color-gray-200);
  --background-base: var(--color-gray-900);
  
  /* Effects */
  --shadow-default: var(--shadow-sm);
  --shadow-hover: var(--shadow-md);
}
