@import url('../../../styles/primitives-variables/root.css');

:root[data-theme="ugds"][data-mode="light"],
*[data-theme="ugds"][data-mode="light"] {
  /* Colors */
  --primary-color: var(--color-blue-500);
  --primary-hover: var(--color-blue-600);
  --primary-active: var(--color-blue-700);
  
  /* Text Colors */
  --text-on-primary: var(--color-white);
  
  /* Background Colors */
  --background-primary: var(--color-white);
  --background-secondary: var(--color-gray-100);
  --background-disabled: var(--color-gray-200);
  
  /* Text Colors */
  --text-primary: var(--color-gray-900);
  --text-secondary: var(--color-gray-700);
  --text-disabled: var(--color-gray-500);
  
  /* Effects */
  --shadow-default: var(--shadow-sm);
  --shadow-hover: var(--shadow-md);
}
